/* ==========================================================================
   HELPERS
   ========================================================================== */


@import 'variables';


%image-resize {
	height: auto;
	width: 100%;
}

@mixin absolute-position() {
	bottom: 0;
	list-style: none;
	margin: auto;
	position: absolute;
	top: 0;
}

@mixin menu-pseudoelements($top, $bottom, $transition) {
	content: '';
	background-color: $navbar_color;
	height: $navbar_height;
	position: absolute;
	width: $navbar_width;
	top: $top;
	bottom: $bottom;
	transition: $transition;
}

@mixin menu-animated($top, $bottom, $transform) {
	background: rgba(255,255,255,1);
	top: $top;
	bottom: $bottom;
	transform: $transform;
}

@mixin mobile-menu($top, $transition) {
	position: fixed;
	z-index: 100;
	text-align: center;
	width: 80%;
	right: initial;
	bottom: initial;
	padding: 0;
	left: -80%;
	top: $top;
	transition: $transition;
}