/* ==========================================================================
   MAIN SCSS
   ========================================================================== */
/* ==========================================================================
   NAVIGATION: PARTIAL
   ========================================================================== */
/* ==========================================================================
   	VARIABLES
   ========================================================================== */
/* ==========================================================================
   HELPERS
   ========================================================================== */
/* ==========================================================================
   	VARIABLES
   ========================================================================== */
.about__picture > img, .details__image--resize > img {
  height: auto;
  width: 100%; }

.navigation {
  margin: 72px auto;
  height: 90px;
  position: relative; }
  .navigation__logo {
    bottom: 0;
    list-style: none;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 85px;
    width: 5.312rem;
    right: 0; }
    .navigation__logo img {
      width: 100%;
      height: auto; }
  .navigation__links {
    font-size: 1.125rem;
    left: 0;
    margin-left: 0.7%; }
    .navigation__links > li + li {
      margin-top: 10px; }
  .navigation__social {
    height: 30px;
    margin-right: 0.7%;
    right: 0; }
    .navigation__social li + li {
      margin-left: 1.25rem; }
  .navigation__icon {
    background-color: #363636;
    border-radius: 50%;
    color: #FFFFFF;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px; }
    .navigation__icon .fa-behance, .navigation__icon .fa-dribble {
      font-size: 1rem; }
    .navigation__icon .fa-linkedin {
      font-size: 1.02rem; }
  .navigation__menu {
    display: none;
    height: 16px;
    position: relative;
    width: 20px;
    z-index: 100; }
  .navigation__bar {
    bottom: 0;
    list-style: none;
    margin: auto;
    position: absolute;
    top: 0;
    background-color: #000;
    height: 3px;
    width: 20px; }
    .navigation__bar:before {
      content: '';
      background-color: #000;
      height: 3px;
      position: absolute;
      width: 20px;
      top: initial;
      bottom: 8px;
      transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
    .navigation__bar:after {
      content: '';
      background-color: #000;
      height: 3px;
      position: absolute;
      width: 20px;
      top: 8px;
      bottom: initial;
      transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
    .navigation__bar--animate {
      background: rgba(255, 255, 255, 0); }
      .navigation__bar--animate:before {
        background: white;
        top: initial;
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 600ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
      .navigation__bar--animate:after {
        background: white;
        top: 0;
        bottom: initial;
        transform: rotate(45deg);
        transition: top 600ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
  .navigation__overlay {
    background-color: #363636;
    box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.5);
    height: 100%;
    left: -85%;
    position: fixed;
    top: 0;
    transition: left 0.2s linear;
    width: 80%;
    z-index: 10; }
  .navigation__offset {
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2; }

@media (max-width: 400px) {
  .navigation {
    margin: 40px auto 0; }
    .navigation__menu {
      display: block;
      position: absolute;
      top: 25px;
      z-index: 1000; }
      .navigation__menu--active {
        position: fixed;
        top: 75px; }
    .navigation__links {
      position: fixed;
      z-index: 100;
      text-align: center;
      width: 80%;
      right: initial;
      bottom: initial;
      padding: 0;
      left: -80%;
      top: 35%;
      transition: inherit; }
      .navigation__links li {
        font-size: 1.8rem; }
      .navigation__links a:hover {
        color: #FFFFFF; }
      .navigation__links li + li {
        margin-top: 25px; }
    .navigation__social {
      position: fixed;
      z-index: 100;
      text-align: center;
      width: 80%;
      right: initial;
      bottom: initial;
      padding: 0;
      left: -80%;
      top: 85%;
      transition: left 0.2s linear; }
    .navigation--active {
      display: block;
      left: 0;
      transition: left 0.2s linear; }
    .navigation__icon {
      background-color: #FFFFFF;
      color: #363636; }
      .navigation__icon i {
        font-size: 1.1rem; } }
@media (min-width: 401px) {
  .navigation__links, .navigation__social {
    bottom: 0;
    list-style: none;
    margin: auto;
    position: absolute;
    top: 0; } }
/* ==========================================================================
   CONTAINER: PARTIAL
   ========================================================================== */
/* ==========================================================================
   	VARIABLES
   ========================================================================== */
.container {
  margin: 0 auto;
  max-width: 1140px; }
  .container__snippet {
    color: #9f9f9f;
    display: block;
    font-size: 1.125rem;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto 5%;
    width: 90%;
    word-spacing: 0.1rem; }
    @media (max-width: 400px) {
      .container__snippet {
        margin: 1.6rem auto 2.5rem; } }
  @media (max-width: 1240px) {
    .container {
      padding: 10px; } }

/* ==========================================================================
   GRID: PARTIAL
   ========================================================================== */
/* ==========================================================================
   	VARIABLES
   ========================================================================== */
.grid__unit {
  background-size: cover;
  background-position: 50% 50%;
  box-sizing: border-box;
  display: inline-block;
  margin: 0.7%;
  min-width: 290px;
  min-height: 290px;
  padding-bottom: 31.5%;
  position: relative;
  width: 31.5%; }
  @media (max-width: 1000px) {
    .grid__unit {
      width: 48%;
      padding-bottom: 48%; } }
  .grid__unit--other {
    max-width: 260px;
    min-width: 136px;
    min-height: 136px;
    padding-bottom: 23%;
    width: 23%; }
    @media (max-width: 850px) {
      .grid__unit--other {
        padding-bottom: 31.9%;
        width: 31.9%; } }
    @media (max-width: 600px) {
      .grid__unit--other {
        padding-bottom: 48.5%;
        width: 48.5%; } }
@media (max-width: 1000px) {
  .grid {
    text-align: center; } }

/* ==========================================================================
   ABOUT: PARTIALS
   ========================================================================== */
/* ==========================================================================
   	VARIABLES
   ========================================================================== */
/* ==========================================================================
   HELPERS
   ========================================================================== */
/* ==========================================================================
   	VARIABLES
   ========================================================================== */
.about__picture > img, .details__image--resize > img {
  height: auto;
  width: 100%; }

.about {
  margin-left: 0.7%; }
  .about > * {
    display: inline-block; }
  .about__content {
    color: #9f9f9f;
    font-size: 1.125rem;
    line-height: 1.3em;
    margin-left: 10.8%;
    max-width: 650px;
    vertical-align: top;
    width: 57%; }
    .about__content a {
      color: #363636;
      text-decoration: underline; }
    .about__content p + p {
      margin-top: 1.875rem; }
  .about__picture {
    max-width: 360px;
    width: 31.4%; }
  @media (max-width: 500px) {
    .about__picture {
      display: none; }
    .about__content {
      width: 100%;
      margin: 2.5rem 0; } }

/* ==========================================================================
   DETAILS: PARTIAL
   ========================================================================== */
.details {
  color: #9f9f9f;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.3; }
  .details__header {
    font-size: 1.25rem;
    margin: 15px;
    text-align: center; }
  .details__title {
    color: #262626;
    font-weight: 700;
    text-align: center; }
    .details__title--other {
      color: #9f9f9f;
      display: block;
      font-size: 1.25rem;
      margin-bottom: 30px;
      position: relative; }
    .details__title--all {
      color: #363636;
      display: block;
      font-size: 1rem;
      font-weight: 400;
      position: absolute;
      right: 3%;
      top: 0; }
  .details__tags > a, .details__tags > a:hover {
    color: #9f9f9f;
    cursor: default;
    text-decoration: none; }
  .details__content p + p, .details__content img + img {
    margin-top: 3.5rem; }
  .details__content p:not(.details__image) {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 5%; }
  .details__content p:not(.details__image) + p:not(.details__image), .details__content .details__image + p:not(.details__image) {
    margin: 0.625rem auto; }
  .details__image {
    text-align: center; }
  .details__anchor {
    display: block;
    margin-top: 2.5rem;
    text-align: center;
    text-decoration: none; }
  .details__other:before {
    border-bottom: 1px solid #d5d5d5;
    content: '';
    display: block;
    margin: 1.3rem auto 3.125rem;
    width: 95%; }
  .details__loop {
    text-align: center; }

/* ==========================================================================
   	VARIABLES
   ========================================================================== */
* {
  margin: 0;
  padding: 0; }

html, body {
  font-family: 'Lato', sans-serif;
  font-size: 16px; }
  @media (max-width: 800px) {
    html, body {
      font-size: 14px; } }
  @media (max-width: 400px) {
    html, body {
      font-size: 12px; } }

a {
  color: #9F9F9F;
  text-decoration: none;
  transition: all 0.5s linear; }
  a:hover {
    color: #363636;
    text-decoration: underline; }

.loop {
  display: none; }

.post {
  max-width: 1140px; }

/*# sourceMappingURL=output.css.map */
