/* ==========================================================================
   ABOUT: PARTIALS
   ========================================================================== */



@import '../utils/variables',
		'../utils/helpers';


.about {
	margin-left: 0.7%;
	
	& > * {
		display: inline-block;
	}

	&__content {
		color: $light-grey;
		font-size: 1.125rem;
		line-height: 1.3em;
		margin-left: 10.8%;
		max-width: 650px;
		vertical-align: top;
		width: 57%;

		& a {
			color: $dark-grey;
			text-decoration: underline;
		}

		& p + p {
			margin-top: 1.875rem;
		}
	}

	&__picture {
		max-width: 360px;
		width: 31.4%;
		
		& > img {
			@extend %image-resize;	
		}
	}

	@media (max-width: $mobile + 100px) {
		&__picture {
			display: none;
		}

		&__content {
			width: 100%;
			margin: 2.5rem 0;
		}
	}
}