/* ==========================================================================
   DETAILS: PARTIAL
   ========================================================================== */




.details {
	color: $light-grey;
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	line-height: 1.3;

	&__header {
		font-size: 1.25rem;
		margin: 15px;
		text-align: center;
	}

	&__title {
		color: $title-grey;
		font-weight: 700;
		text-align: center;

		&--other {
			color: $light-grey;
			display: block;
			font-size: 1.25rem;
			margin-bottom: 30px;
			position: relative;
		}
		&--all {
			color: $dark-grey;
			display: block;
			font-size: 1rem;
			font-weight: 400;
			position: absolute;
			right: 3%;
			top: 0;
		}
	}

	&__tags {
		& > a, & > a:hover {
			color: $light-grey;
			cursor: default;
			text-decoration: none;
		}
	}

	&__content {
		& p + p, & img + img {
			margin-top: 3.5rem;
		}

		& p:not(.details__image) {
			margin: 0 auto;
			max-width: 800px;
			padding: 0 5%;
		}

		& p:not(.details__image) + p:not(.details__image) {
			margin: 0.625rem auto;
		}
	}

	&__image {
		margin-top: 3.5rem;
		text-align: center;

		& + p:not(.details__image) {
			margin-top: 3.5rem;
		}

		&--resize > img {
			@extend %image-resize;
		}
	}

	&__anchor {
		display: block;
		margin-top: 2.5rem;
		text-align: center;
		text-decoration: none;
	}

	&__other {
		&:before {
			border-bottom: 1px solid #d5d5d5;
			content: '';
			display: block;
			margin: 1.3rem auto 3.125rem;
			width: 95%;
		}
	}

	&__loop { text-align: center;}
}