/* ==========================================================================
   	VARIABLES
   ========================================================================== */


//COLORS:
$dark-grey: #363636;
$light-grey: #9f9f9f;
$title-grey: #262626;


//SCREEN SIZES:
$tablet: 800px;
$mobile: 400px;
$max-container: 1140px;


// HAMBURGER MENU
$navbar_color: #000;
$navbar_height: 3px;
$navbar_spacing: 8px;
$navbar_width: 20px;
$navmenu_height: 16px;


$transition-before: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
$transition-after: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);