/* ==========================================================================
   CONTAINER: PARTIAL
   ========================================================================== */



@import '../utils/variables';

.container {
	max-width: $max-container;
	margin: 0 auto;

	&__snippet {
		font-size: 1.125rem;
		color: #9f9f9f;
		margin: 0 auto 5%;
		line-height: 1.3;
		word-spacing: 0.1rem;
		display: block;
		width: 90%;
		text-align: center;

		@media (max-width: $mobile) { margin: 1.6rem auto 2.5rem;}
	}

	@media (max-width: $max-container + 100px) {
		padding: 10px;
	}
}