/* ==========================================================================
   GRID: PARTIAL
   ========================================================================== */



@import '../utils/variables';

.grid {
	&__unit {
		width: 31.5%;
		min-width: 290px;
		min-height: 290px;
		padding-bottom: 31.5%;
		background-size: cover;
		background-position: 50% 50%;
		display: inline-block;
		margin: 0.7%;
		box-sizing: border-box;
		position: relative;

		@media (max-width: 1000px) {
			width: 48%;
			padding-bottom: 48%;
		}

		&--other {
			max-width: 260px;
			width: 23%;
			padding-bottom: 23%;
			min-width: 136px;
			min-height: 136px;

			@media (max-width: $tablet + 50px) {
				width: 31.9%;
				padding-bottom: 31.9%;
			}

			@media (max-width: $mobile + 200px) {
				width: 48.5%;
				padding-bottom: 48.5%;
			}
		}

		& > a {
			color: #FFF;
		}
	}

	&__image {
		width: auto;
		height: 100%;
	}

	@media (max-width: 1000px) { text-align: center;}
}