/* ==========================================================================
   NAVIGATION: PARTIAL
   ========================================================================== */



@import '../utils/variables',
				'../utils/helpers';

.navigation {
	margin: 4.5rem auto;
	height: 90px;
	position: relative;

	&__logo {
		@include absolute-position();
		left: 0;
		max-width: 85px;
		width: 5.312rem;
		right: 0;

		& img {
			width: 100%;
			height: auto;
		}
	}

	&__links {
		font-size: 1.125rem;
		left: 0;
		margin-left: 0.7%;

		& > li + li {
			margin-top: 10px;
		}
	}

	&__social {
	    height: 30px;
	    margin-right: 0.7%;
	    right: 0;

		& li + li {
			margin-left: 1.25rem;

			@media (min-width: $mobile) and (max-width: $mobile + 100px) {
				margin-left: 0.5rem;
			}

		}
	}

	&__icon {
		background-color: $dark-grey;
		border-radius: 50%;
		color: #FFFFFF;
		display: inline-block;
		height: 30px;
		line-height: 30px;
		text-align: center;
		width: 30px;

		& .fa-behance, & .fa-dribble { font-size: 1rem; }

		& .fa-linkedin { font-size: 1.02rem; }
	}

	&__menu {
		display: none;
		height: $navmenu_height;
		position: relative;
		width: $navbar_width;
		z-index: 100;
	}
	&__bar {
		@include absolute-position();
		background-color: $navbar_color;
		height: $navbar_height;
		width: $navbar_width;

		&:before {
			@include menu-pseudoelements(initial, $navbar_spacing, $transition-before);
		}

		&:after {
			@include menu-pseudoelements($navbar_spacing, initial, $transition-after);
		}

		&--animate {
			background: rgba(255,255,255,0);

			&:before {
				@include menu-animated(initial, 0, rotate(-45deg)); 
				transition: bottom 600ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
			}

			&:after {
				@include menu-animated(0, initial, rotate(45deg)); 
				transition: top 600ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
			}
		}
	}

	&__overlay {
		background-color: $dark-grey;
		box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.5);
		height: 100%;
		left: -85%;
		position: fixed;
		top: 0;
		transition:left 0.2s linear;
		width: 80%;
		z-index: 10;
	}

	&__offset {
		display: none;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
	}
}

@media (max-width: $mobile) {

	%hamburger-menu {
		position: fixed;
		z-index: 100;
		text-align: center;
		width: 80%;
		right: initial;
		bottom: initial;
		padding: 0;
		left: -80%;
	}

	.navigation {
		margin: 40px auto 0;

		&__menu {
			display: block;
			position: absolute;
			top: 25px;
			z-index: 1000;

			&--active {
				position: fixed;
				top: 75px;
			}
		}

		&__links {
			@include mobile-menu(35%, inherit);
			& li { font-size: 1.8rem;}
			& a:hover {color: #FFFFFF;}
			& li + li {margin-top: 25px;}
		}

		&__social {
			@include mobile-menu(85%, left 0.2s linear);
		}

		&--active {
			display: block;
			left: 0;
			transition:left 0.2s linear;
		}

		&__icon {
			background-color: #FFFFFF;
			color: $dark-grey;
			& i {font-size: 1.1rem;}
		}
	}
}

@media (min-width: $mobile + 1px) {
	.navigation__links, .navigation__social {
		@include absolute-position();
	}
}