/* ==========================================================================
   ABOUT: PARTIALS
   ========================================================================== */



@import '../utils/variables',
		'../utils/helpers';


.about {
	margin-left: 0.7%;
	
	& > * {
		display: inline-block;
	}

	&__content {
		font-size: 1.125rem;
		margin-left: 10.8%;
		width: 57%;
		max-width: 650px;
		color: #9f9f9f;
		line-height: 1.3em;
		vertical-align: top;

		@media (max-width: $tablet) {
			margin-left: 7.5%;
			width: 60%;
		}

		& a {
			color: #3b3b3b;
			text-decoration: underline;
		}

		& p + p {
			margin-top: 1.875rem;
		}
	}

	&__picture {
		max-width: 360px;
		width: 31.4%;
		
		& > img {
			width: 100%;
			height: auto;
		}
	}
	
	@media (max-width: $mobile + 100px) {
		&__picture {
			display: none;
		}

		&__content {
			width: 100%;
			margin: 2.5rem 0;
		}
	}
}