/* ==========================================================================
   DETAILS: PARTIAL
   ========================================================================== */




.details {
	font-family: 'Lato', sans-serif;
	color: #9b9b9b;
	font-size: 1rem;
	line-height: 1.3;

	&__header {
		font-size: 1.25rem;
		margin: 15px;
		text-align: center;
	}

	&__title {
		font-weight: 700;
		color: #262626;
		text-align: center;

		&--other {
			color: #9f9f9f;
			display: block;
			position: relative;
			margin-bottom: 30px;
			font-size: 1.25rem;
		}
		&--all {
			font-size: 1rem;
			color: #363636;
			font-weight: 400;
			display: block;
			position: absolute;
			top: 0;
			right: 3%;
		}
	}

	&__tags {
		& > a, & > a:hover {
			text-decoration: none;
			color: #9b9b9b;
			cursor: default;
		}
	}

	&__content {
		& p:not(.details__image) {
			max-width: 800px;
			margin: 0 auto;
			padding: 0 5%;
		}

		& p:not(.details__image) + p:not(.details__image){
			margin: 0.625rem auto;
		}
	}

	&__image {
		margin-top: 3.5rem;
		text-align: center;

		& + p:not(.details__image) {
			margin-top: 3.5rem;
		}

		&--resize > img {
			width: 100%;
			height: auto;
		}
	}

	&__anchor {
		text-align: center;
		display: block;
		text-decoration: none;
		margin-top: 2.5rem;
	}

	&__other {
		&:before {
			content: '';
			display: block;
			width: 95%;
			border-bottom: 1px solid #d5d5d5;
			margin: 1.3rem auto 3.125rem;
		}
	}

	&__loop {
		text-align: center;
	}
}