//
// Posts: CSS changes for the post pages
// --------------------------------------------------

.site-wrapper {
        background-color: antiqueblue;
}

.menu-button {
        border-color: black;

        .burger, .word {
                color: black;
        }
}