/* ==========================================================================
   CONTAINER: PARTIAL
   ========================================================================== */



@import '../utils/variables';

.container {
	margin: 0 auto;
	max-width: $max-container;

	&__snippet {
		color: $light-grey;
		display: block;
		font-size: 1.125rem;
		line-height: 1.3;
		text-align: center;
		margin: 0 auto 5%;
		width: 90%;
		word-spacing: 0.1rem;
		@media (max-width: $mobile) {margin: 1.6rem auto 2.5rem;}
	}

	@media (max-width: $max-container + 100px) {padding: 10px;}
}