/* ==========================================================================
   GRID: PARTIAL
   ========================================================================== */



@import '../utils/variables';

.grid {
	&__unit {
		background-size: cover;
		background-position: 50% 50%;
		box-sizing: border-box;
		display: inline-block;
		margin: 0.7%;
		min-width: 290px;
		min-height: 290px;
		padding-bottom: 31.5%;
		position: relative;
		width: 31.5%;

		@media (max-width: 1000px) { width: 48%; padding-bottom: 48%;}

		&--other {
			max-width: 260px;
			min-width: 136px;
			min-height: 136px;
			padding-bottom: 23%;
			width: 23%;

			@media (max-width: $tablet + 50px) {
				padding-bottom: 31.9%;
				width: 31.9%;
			}

			@media (max-width: $mobile + 200px) {
				padding-bottom: 48.5%;
				width: 48.5%;
			}
		}
	}

	@media (max-width: 1000px) {
		text-align: center;
	}
}