{{!< default}}

<main id="content" class="content" role="main">
    <section class="container__snippet">
        <p>Hi! I am Rico. Brazilian UX/UI Designer based&nbsp;in&nbsp;Auckland,&nbsp;NZ.</p>
        <p>I am passionate about creating beautiful and useful&nbsp;interfaces&nbsp;for&nbsp;web&nbsp;and&nbsp;mobile.</p>
    </section>

    {{> "loop"}}

    {{!-- Other Posts loop --}}
    <div class="loop">
        <div id="loop__posts" class="grid">
         {{#foreach posts limit="8"}}
            <a class="grid__unit grid__unit--other postid-{{id}}" style="background-image: url('{{image}}');" href="{{url}}" alt="{{{title}}}"></a>
         {{/foreach}}
        </div>
    </div>

</main>
