{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<main class="details">
    <article class="postid-{{id}} {{post_class}}">
        <header class="details__header">
            <span class="details__title">{{title}} - </span>
            <span class="details__tags">{{tags}}</span>
        </header>

        <section class="details__content">
            <!-- a imagem de capa precisa ser subida novamente no corpo do post -->
            {{content}}

            <a class="details__anchor" href="#">Back to top</a>
        </section>
    </article>

    <aside class="details__other">
        <span class="details__title details__title--other">Other Projects <a class="details__title details__title--all" href="/">See all</a></span>

        <div class="details__loop">
            <div id="loop__posts"></div>
        </div>
    </aside>
</main>
{{/post}}
