/* ==========================================================================
   MAIN SCSS
   ========================================================================== */



@import 'components/navigation',
				'components/container',
				'components/menu',
				'components/grid',
				'layout/about',
				'layout/details',
				'utils/variables';

* {
	margin:0;
	padding:0;
}

html, body {
	font-size: 16px;
	font-family: 'Lato', sans-serif;

	@media (max-width: $tablet) {font-size: 14px;}
	@media (max-width: $mobile) {font-size: 12px;}
}

a {
	color: #9F9F9F;
	text-decoration: none;
	transition: all 0.5s linear;

	&:hover {
		color: #363636;
		text-decoration: underline;
	}
}

.loop {
	display: none;
}

.post {
	max-width: 1140px;
}