
<header class="navigation">
	<div class="navigation__overlay"></div>
	<div class="navigation__offset"></div>
	
	<div class="navigation__menu">
		<div class="navigation__bar"></div>
	</div>
    <ul class="navigation__links">
		<li><a href="/">Work</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="mailto:ricofmonteiro@gmail.com">Contact</a></li> 
	</ul>
	<div class="navigation__logo">
			<a href="/"><img src="{{asset "img/logo.png"}}" /></a>
	</div>
	<ul class="navigation__social">
		<li class="navigation__icon"><i class="fa fa-linkedin"></i></li>
		<li class="navigation__icon"><i class="fa fa-behance"></i></li>
		<li class="navigation__icon"><i class="fa fa-dribbble"></i></li>
	</ul>

	{{!-- <ul class="navigation__social">
		<li><img src="{{asset "img/social_linkedin.png"}}" /></li>
		<li><img src="{{asset "img/social_dribbble.png"}}" /></li>
		<li><img src="{{asset "img/social_behance.png"}}" /></li>
	</ul> --}}
	<nav class="navigation__overlay"></nav>
</header>