/* ==========================================================================
   GRID: PARTIAL
   ========================================================================== */



@import '../utils/variables',
				'../utils/helpers';

.grid__unit {
	@extend %grid-base;
	margin: 1.117% 1.11%;
	padding-bottom: 31.6%;
	width: 31.6%;
	@media (min-width: $tablet + 51px) {
		&:nth-child(3n){margin-right: 0;}
		&:nth-child(3n+1){margin-left: 0;}
	}
	@media (min-width: $mobile + 70px) and (max-width: $tablet + 50px) {
		margin: 1.8%;
		padding-bottom: 47%;
		width: 47%;
		&:nth-child(2n) {margin-right: 0;}
		&:nth-child(2n+1) {margin-left: 0;}
	}
	@media (max-width: $mobile + 70px) {
		width: 97%;
		margin: 12px auto;
		padding-bottom: 97%;
		display: block;
	}
	@media (max-width: $tablet + 50px) {text-align: center;}
}

.grid__unit--other {
	@extend %grid-base;
	margin: 1.4%;
	padding-bottom: 22.8%;
	width: 22.8%;
	&:first-child {margin-left: 0;}
	&:last-child {margin-right: 0;}

	@media (max-width: $tablet + 150px) {
		padding-bottom: 31.4%;
		width: 31.4%;
	}

	@media (max-width: $mobile + 250px) {
		margin: 2.5%;
		padding-bottom: 45.4%;
		width: 45.4%;
	}
}