{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

<main class="about">
    <div class="about__picture">
        <img src="{{asset "img/rico_av.png"}}" />
    </div>

    <section class="about__content">
        {{content}}
    </section>
</main>
{{/post}}
