
<header class="navigation">
	<div class="navigation__overlay"></div>
	<div class="navigation__offset"></div>
	
	<div class="navigation__menu">
		<div class="navigation__bar"></div>
	</div>
    <ul class="navigation__links">
		<li><a href="/">Work</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="mailto:ricofmonteiro@gmail.com">Contact</a></li> 
	</ul>
	<div class="navigation__logo">
			<a href="/"><img src="{{asset "img/logo.svg"}}" /></a>
	</div>
	<ul class="navigation__social">
		<li class="navigation__icon"><a href="https://www.linkedin.com/in/ricomonteiro"><i class="fa fa-linkedin"></i></a></li>
		<li class="navigation__icon"><a href="https://www.behance.net/ricomonteiro"><i class="fa fa-behance"></i></a></li>
		<li class="navigation__icon"><a href="https://dribbble.com/Rico_Monteiro"><i class="fa fa-dribbble"></i></a></li>
	</ul>
	<nav class="navigation__overlay"></nav>
</header>